body {
    font-family: "Lato", sans-serif;

}

.sidenav {
    min-height: 100vh;
    z-index: 1;
    background-color: #111;
    padding-top: 20px;
    width: 20%;
    border-top: 1px solid gray;
}

.table-container {
    width: 100%;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.dashboard {
    color: white;
    font-size: 1.5rem;
}

.layout-flex{
    display: flex;
}

.dashboard-table-div{
    width: 80%;
    margin: 0 auto;
}

.choose-file{
    width: 15%;
}

.display-none {
    display: none!important;
}

.product-container{
    display: flex;
}

.button-plus{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.products-container .product-container:first-child a{
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.form-control-height{
    display: table!important;
}

.quantity-width{
    width: 33%;
}

.show-product-container {
    display: flex;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    top: 35%;
}

.table-container .row {
    width: 100%;
}

.dataTables_info {
    display: none;
}

#dtEntityTable .th-sm {
    vertical-align: middle;
}

input.form-control.product-order-price, input.form-control.product-order-quantity {
    width: 50% !important;
}

select.form-control.product-order-select {
    width: 90% !important;
}
.product-order-remove {
    width: 10% !important;
    text-align: center;
}

.product-order-area {
    flex-wrap: wrap;
    margin-top: 10px;
}

#dtEntityTable_wrapper>.row {
    overflow-x: auto;
}

.show-description {
    font-size: 0.8em;
}

.navbar .nav-item {
    background-color: rbga(0,0,0,0);
}

.dropdown-item.text-light {
    opacity: .5;
}

.dropdown-item.text-light:hover {
    background-color: rgba(0,0,0,0) !important;
    color: rgba(255,255,255,.75) !important;
}



.dashboard-border-success{
    border-left-color: #28a745!important;
    border: 1px solid rgba(0,0,0,.1);
    border-left-width: 2px;
}

.dashboard-border-danger{
    border-left-color: #dc3545!important;
    border: 1px solid rgba(0,0,0,.1);
    border-left-width: 2px;
}

.dashboard-border-primary{
    border-left-color: #007bff!important;
    border: 1px solid rgba(0,0,0,.1);
    border-left-width: 2px;
}

.dashboard-border-info{
    border-left-color: #17a2b8!important;
    border: 1px solid rgba(0,0,0,.1);
    border-left-width: 2px;
}

.opacity-image{
    opacity: 0.5;
}

.dashboard-boxshadow:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}

.date-range{
    width: 20%;
}

.chart-width{
    width: 100%;
}

.text-full-size {
    font-size: 1.1em;
}


@media screen and (max-width: 767px) {
    .dashboard-table-div{
        width: 100%;
    }

    .sidenav-mobile {
        display: none!important;
    }

    .date-range{
        width: 50%;
    }

}

@media screen and (min-width: 768px) {
    .for-mobile {
        display: none;
    }
}

#country+.select2.select2-container {
    width: 100% !important;
}
.select2.select2-container .select2-selection {
    height: calc(1.5em + .75rem + 2px) !important;
}

.product-order-select+.select2.select2-container {
    width: 90% !important;
}

.form-control.quantity {
    width: 20% !important;
}
.product-shipment-select+.select2.select2-container {
    width: 75% !important;
}

.select2.select2-container+.select2.select2-container {
    display: none;
}

.section-small {
    display: none;
    width: 5%;
}

.section-big {
    display: none;
}

.section-big-area {
    width: 95% !important;
}

.show-menu:hover {
    opacity: .7;
}