body {
    font-family: "Lato", sans-serif;

}

.sidenav {
    min-height: 100vh;
    z-index: 1;
    background-color: #111;
    padding-top: 20px;
    width: 20%;
}

.table-container {
    overflow-x: scroll;
    width: 100%;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.dashboard {
    color: white;
    font-size: 1.5rem;
}

.layout-flex{
    display: flex;
}

.dashboard-table-div{
    width: 80%;
    margin: 0 auto;
}

.choose-file{
    width: 15%;
}

.display-none {
    display: none!important;
}

.product-container{
    display: flex;
}

.button-plus{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.products-container .product-container:first-child a{
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.form-control-height{
    display: table!important;
}

@media screen and (max-width: 767px) {
    .dashboard-table-div{
        width: 100%;
    }

    .sidenav-mobile {
        display: none!important;
    }
}

.quantity-width{
    width: 33%;
}

.show-product-container {
    display: flex;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    top: 35%;
}

.table-container .row {
    width: 100%;
}

.dataTables_info {
    display: none;
}

#dtEntityTable .th-sm {
    vertical-align: middle;
}










